server:
  port: 5200
  servlet:
    context-path: /Y
  error:
    include-exception: true

spring:
  application:
    name: Y
#出现错误时, 直接抛出异常
  mvc:
    throw-exception-if-no-handler-found: true
    static-path-pattern: "/static/**"
#  #关闭工程中的资源文件建立映射
  resources:
    add-mappings: false
#    static-locations: "classpath:/static"
 #数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
#druid配置
    druid:
      initial-size: 5
      minIdle: 5
      max-active: 20
      max-wait: 6000
      timeBetweenEvictionRunsMillis: 6000
      minEvictableIdleTimeMillis: 300000
    url: "jdbc:mysql://47.106.181.97:3306/Y?characterencoding=utf-8"
    username: "GCC"
    password: "1234"
#springboot Admin
#  boot:
#    admin:
#      client:
#         url: localhost:${server.port}
        #        username: GCC
        #        password: 1234
#springboot验证
  security:
    user:
      name: GCC
      password: 1234




management:
  endpoints:
    web:
      exposure:
        include: "*"
mybatis:
  mapper-locations: classpath:mybatis/*Mapper.xml
  config-location: classpath:mybatis-config.xml

logging:
  config: classpath:log4j2-tmp.xml